@font-face {
    font-family: 'Arcade Classic';
    src: URL('res/arcade_classic.ttf') format('truetype');
}

body {    
		/* background-color: #165B33; */
		background-color: #000; 
}

#mug {
		width: 10em; 
}

#poem {
		white-space: nowrap;
}

#poet {
		white-space: nowrap;
}

document, body {
		margin: 0px;
		padding: 0px;
}

#canvas {
		width: 100%;
		height: 100%;
    font-smooth: never;
}
